.country {
    border: 2px solid salmon;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
}

.visit {
    background-color: #d1fae5;
    color: black;
    
}

.not-visit {
    background-color: #e0f2fe;
    color: black;
}

.visited {
  background-color: #4caf50;
  color: white;
  border: 2px solid salmon;
margin: 10px;}

.not-visited {
  background-color: #ddd;
  color: black;
  border: 2px solid blue;
}